/* Basic Style */
.page {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
.matrix {
  width: 500px;
  max-height: 269px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
.matrix__image {
  width: 100%;
}
.matrix__link {
  margin-top: 0px;
  font-family: fantasy, cursive;
}
.main__section {
  margin-top: 16px;
  margin-bottom: 16px;
}
@media (max-width: 768px) {
  .matrix { 
    text-align: center;
  }
}
.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}
.main__input, 
.task-list__label, 
.task-list__input {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}
.main__wrapper {
  display: flex;
}
.task-list {
  margin: 0;
  padding: 0px;
}
.task-list__item {
  list-style: none;
  max-height: 32px;
}
.task-list__button__edit, 
.task-list__button__delete, 
.task-list__checkbox, 
.task-list__input,
.main__input,
.main__button {
  outline: none;
}
.task-list__button__edit, 
.task-list__button__delete, 
.main__input, 
.main__button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
.task-list__button__edit:hover,
.task-list__button__delete:hover,
.main__button:hover {
  color: #3a3a3a;
}
/* Heading */
.main__header {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
.task-list__input,
.main__input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 19px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
.task-list__input:focus {
  color: #333;
}

/* New Task */
.main__header:first-child {
  display: block;
  margin: 0 0 20px;
}
.main__input {
  width: 318px;
  height: 19px;
}

/* Task list */
.task-list__item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.task-list__item > * {
  vertical-align: middle;
}

.task-list__item > .task-list__checkbox {
  margin: 0 10px;
}
.task-list__item > .task-list__label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}
.task-list__item > .task-list__input {
  width: 226px;
}
.task-list__image {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.task-list__image:hover {
  transform: rotateZ(0);
}

/* Completed */
#complete-task .task-list__label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.task-list__input {
  display: none;
}

.item__edit-mode .task-list__input {
  display: inline-block;
  width: 224px;
}

.item__edit-mode .task-list__label {
  display: none;
}